.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    min-width: 100px;
    background-color: #f2f2f2;
    border: 1px solid #333;
    font-weight: bold;
    font-size: 10px;
    color: #333;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin: 0;
  }
  
  .box:hover {
    background-color: #333;
    color: #fff;
  }
  
  .RESIDENTIAL{
    background-color: #f48f29;
    border-color: #f48f29;
    color: #fff;
  }

  .SERVICE {
    background-color: #413936;
    border-color: #413936;
    color: #fff;
  }