.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    min-width: 100px;
    background-color: #f2f2f2;
    border: 2px solid #e19e0c;
    font-weight: bold;
    font-size: 10px;
    color: #333;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .box:hover {
    background-color: #333;
    color: #fff;
  }
  
  .RESIDENTIAL{
    background-color: #f48f29;
    border-color: #f48f29;
    color: #fff;
  }

  .SERVICE {
    background-color: #413936;
    border-color: #413936;
    color: #fff;
  }
  .map {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    grid-gap: 10px;
    max-width: 100%;
  }
  
  /* Media query for screens smaller than 600px */
  @media (max-width: 600px) {
    .box {
      min-width: 60px;
      font-size: 8px;
      height: 40px;
      overflow-y:hidden;
    }
  
    .map {
      grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
      grid-gap: 5px;
    }
  }
 
  
  
  
  
  
  
  